{% extends 'base.html' %}
{% set active_page = "subscriptions_new" %}

{% block header %}
  {% block title %}Register your Subreddit{% endblock %}
{% endblock %}

{% block content %}
  <form method="post">
    <div class="mb-3">
      <label for="channel_id" class="form-label">Channel ID</label>
      <input type="text" name="channel_id" class="form-control" id="channel_id" placeholder="Youtube Channel ID">
    </div>
    <div class="mb-3">
      <label for="channel_id" class="form-label">Subreddit</label>
      <input type="text" name="subreddit" class="form-control" id="subreddit" placeholder="Subreddit e.g. pics">
    </div>
    <button type="submit" class="btn btn-primary" value="Register">Register</button>
  </form>
{% endblock %}
